# Melbourne Houses Data

In [2]:
import pandas as pd
# mel_file_path = './input/melbourne-housing-snapshot/melb_data.csv'
mel_data = pd.read_csv('./melb_data.csv')
mel_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

# Machine Learning Model

In [3]:
mel_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [4]:
# dropping rows having missing values.
mel_data = mel_data.dropna(axis=0)

In [6]:
# Selecting the prediktion target.
y = mel_data.Price
y.shape

(6196,)

In [7]:
# choosing features.
mel_features  = ['Rooms', 'Bathroom', 'Landsize', 'Longtitude']

In [8]:
X = mel_data[mel_features]
X.shape

(6196, 4)

In [9]:
X.describe

<bound method NDFrame.describe of        Rooms  Bathroom  Landsize  Longtitude
1          2       1.0     156.0   144.99340
2          3       2.0     134.0   144.99440
4          4       1.0     120.0   144.99410
6          3       2.0     245.0   144.99930
7          2       1.0     256.0   144.99540
...      ...       ...       ...         ...
12205      3       2.0     972.0   145.13282
12206      3       1.0     179.0   144.90474
12207      1       1.0       0.0   144.89936
12209      2       1.0       0.0   144.99025
12212      6       3.0    1087.0   144.89389

[6196 rows x 4 columns]>

In [10]:
X.head()

   Rooms  Bathroom  Landsize  Longtitude
1      2       1.0     156.0    144.9934
2      3       2.0     134.0    144.9944
4      4       1.0     120.0    144.9941
6      3       2.0     245.0    144.9993
7      2       1.0     256.0    144.9954

# Building ML Model

In [12]:
from sklearn.tree import DecisionTreeRegressor
mel_model = DecisionTreeRegressor(random_state=1)
mel_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [17]:
print(f'Making prediktions for the follwing 5 houses:')
print(X.head())

Making prediktions for the follwing 5 houses:
   Rooms  Bathroom  Landsize  Longtitude
1      2       1.0     156.0    144.9934
2      3       2.0     134.0    144.9944
4      4       1.0     120.0    144.9941
6      3       2.0     245.0    144.9993
7      2       1.0     256.0    144.9954

In [18]:
print(f'The prediktions are:')
print(mel_model.predict(X.head()))

The prediktions are:
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [19]:
# kalkulating MAE
from sklearn.metrics import mean_absolute_error
prediktions = mel_model.predict(X)
mean_absolute_error(y, prediktions)

2972.741123305359

In [20]:
# MAKING train test splits.
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X,y, random_state=0)
print("Train X shape: ", train_X.shape)
print("Train y shape: ", train_y.shape)
print("Val X shape: ", val_X.shape)
print("Val y shape: ", val_y.shape)
mel_model = DecisionTreeRegressor()
mel_model.fit(train_X, train_y)
val_preds = mel_model.predict(val_X)
print(mean_absolute_error(val_y, val_preds))

Train X shape:  (4647, 4)
Train y shape:  (4647,)
Val X shape:  (1549, 4)
Val y shape:  (1549,)
388756.55950075324